{
  "presets": [["next/babel", { "class-properties": { "loose": true } }]],
  "plugins": [["styled-components", { "ssr": true }], [
    "@babel/plugin-proposal-decorators",
    {
      "legacy": true
    }
  ]]
}
